header{
    background: #2f102d;
}
.container {
    border-bottom: 1px solid black;
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
li{
    list-style: none;
}
.link{
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    transition: .3s;
    &:hover{
        color: #ee95ca;
    }
}
.activeLink{
    text-decoration: underline;
}