form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px 0;
}
.button{
    cursor: pointer;
    padding: 10px 17px;
    background: #043a03;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
}
input{
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 3px;
}